<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FluxDoc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikdQoTUG0NlZILFWEikSDRSNHriSStzck0KxnVcE9dJESCo5l5CkBaFzpmbQ0VcVFOVCw0y/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-file-pdf"></i> FluxDoc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownTools" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-tools"></i> Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownTools">
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="Merge"><i class="fas fa-compress-alt"></i> PDF Merge</a></li>
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="ImageToPdf"><i class="fas fa-image"></i> Image to PDF</a></li>
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="PdfToImage"><i class="fas fa-file-image"></i> PDF to Images</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="PdfToWord"><i class="fas fa-file-word"></i> PDF to Word</a></li>
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="PdfToExcel"><i class="fas fa-file-excel"></i> PDF to Excel</a></li>
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="Ocr"><i class="fas fa-search"></i> Searchable PDF (OCR)</a></li>
                                <li><a class="dropdown-item" asp-controller="Document" asp-action="MagicColor"><i class="fas fa-magic"></i> Magic Color</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pricing" asp-action="Index"><i class="fas fa-tags"></i> Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Api" asp-action="Index"><i class="fas fa-code"></i> Developer API</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - FluxDoc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZQLGYK7GgGjPA9xPNBo+OqLnyPNHgOxSfRBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otERdZmHfisxBMWMWKbL8FNzKYiH1qDcQASs6K2YZYE2tGBlCpXaCPOOwXQ4CZZFnSCcH5KDKs1UZ8C4QA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1HCxS3XqaHNkL5O3U8FjP52SOGGkRTwW1+0O8k3+cM6NnO/U/g2/N3yL9E7uQ0s" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
