@model List<discussionspot9.Models.ViewModels.CreativeViewModels.CommentTreeViewModel>

<div id="commentsList" data-post-id="@ViewBag.PostId">
    @if (Model.Any())
    {
        @foreach (var comment in Model)
        {
            <partial name="_CommentItem" model="comment" />
        }
    }
    else
    {
        <div class="text-center py-5 text-muted">
            <i class="fas fa-comments fa-3x mb-3"></i>
            <p>No comments yet. Be the first to share your thoughts!</p>
        </div>
    }
</div>