

<div class="sidebar-card">
    <div class="sidebar-header">
        <i class="fas fa-link me-2"></i> Related Posts
    </div>
    <div class="sidebar-content">
        <ul class="related-posts">
           
                <li>
                    <a href="#" class="related-post-link">Title</a>
                    <div class="related-post-meta">
                        <span><i class="fas fa-arrow-up"></i> 80</span>
                        <span><i class="fas fa-comment"></i> 20</span>
                    </div>
                </li>
            
        </ul>
    </div>
</div>