@model discussionspot9.Models.ViewModels.CreativeViewModels.PostDetailPageViewModelCopy
@{
    ViewData["Title"] = Model.Post.Title;
}

@section Styles {
    <partial name="_PostDetailStyles" />
}

<div class="post-detail-page">
    <div class="container-fluid" style="max-width: 90%;">
        <div class="row">
            <!-- Left Sidebar -->
            <div class="col-xl-3 col-lg-3 d-none d-xl-block">
                @await Component.InvokeAsync("LeftSidebar", new {
                communitySlug = Model.CommunitySlug
                                })
            </div>

            <!-- Main Content -->
            <div class="col-xl-6 col-lg-8">
                <!-- Post Container -->
                <div class="pd-post-container pd-card">
                    @await Component.InvokeAsync("PostContent", new {
                                        post = Model.Post,
                                        communitySlug = Model.CommunitySlug
                                        })
                </div>

                <!-- Comment Form -->
                @if (User.Identity.IsAuthenticated)
                {
                    @await Component.InvokeAsync("CommentForm", new {
                    postId = Model.Post.PostId
                                })
                                }

                <!-- Comments Section -->
                @await Component.InvokeAsync("CommentSection", new {
                                comments = Model.Comments,
                                postId = Model.Post.PostId
                                })
            </div>

            <!-- Right Sidebar -->
            <div class="col-xl-3 col-lg-4">
                @await Component.InvokeAsync("RightSidebar", new {
                                community = Model.Community,
                                relatedPosts = Model.RelatedPosts
                                })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.PostDetail = {
            postId: @Model.Post.PostId,
            communitySlug: '@Model.CommunitySlug',
            postSlug: '@Model.PostSlug'
        };
    </script>
    <script src="~/js/post-detail.js"></script>
}