@using discussionspot9.Models.ViewModels.CreativeViewModels
@model List<CommentTreeViewModel>

<div class="comment-section">
    <div class="comment-header">
        @* Calculate total comments including nested ones *@
        <div class="comment-count">@(Model.Sum(c => c.ChildCount) + Model.Count) Comments</div>
        <div class="comment-sort">
            <span>Sort by:</span>
            <div class="sort-dropdown-container">
                <button class="sort-dropdown" id="commentSortBtn">
                    <span id="currentSort">Best</span> <i class="fas fa-chevron-down"></i>
                </button>
                <div class="sort-dropdown-menu" id="sortDropdownMenu">
                    <a href="#" class="sort-option" data-sort="best">
                        <i class="fas fa-star"></i> Best
                    </a>
                    <a href="#" class="sort-option" data-sort="top">
                        <i class="fas fa-arrow-up"></i> Top
                    </a>
                    <a href="#" class="sort-option" data-sort="new">
                        <i class="fas fa-clock"></i> New
                    </a>
                    <a href="#" class="sort-option" data-sort="old">
                        <i class="fas fa-history"></i> Old
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-list">
        @foreach (var commentTree in Model)
        {
            @* Render each top-level comment using the _Comment partial from its correct location *@
            @await Html.PartialAsync("Partials/V1/_CommentItem", commentTree)
        }
    </div>
    <!-- Comments container -->
    <div id="comments-container">
        <!-- Comments will be populated here -->
    </div>
</div>
