<!-- Views/Shared/Components/ShareDropdown/Default.cshtml -->
@{
    var postId = (int)ViewData["PostId"];
    var title = ViewData["Title"] as string;
    var url = ViewData["Url"] as string;
    var fullUrl = ViewData["FullUrl"] as string;
    var encodedTitle = System.Net.WebUtility.UrlEncode(title);
    var encodedUrl = System.Net.WebUtility.UrlEncode(fullUrl);
}

<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary pd-interactive dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="fas fa-share me-1"></i>
        Share
    </button>
    <ul class="dropdown-menu pd-share-menu">
        <li>
            <a class="dropdown-item"
               href="https://twitter.com/intent/tweet?text=@encodedTitle&url=@encodedUrl"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-twitter me-2"></i> Twitter
            </a>
        </li>
        <li>
            <a class="dropdown-item"
               href="https://www.facebook.com/sharer/sharer.php?u=@encodedUrl"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-facebook me-2"></i> Facebook
            </a>
        </li>
        <li>
            <a class="dropdown-item"
               href="https://www.linkedin.com/sharing/share-offsite/?url=@encodedUrl&title=@encodedTitle"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-linkedin me-2"></i> LinkedIn
            </a>
        </li>
        <li>
            <a class="dropdown-item"
               href="https://reddit.com/submit?url=@encodedUrl&title=@encodedTitle"
               target="_blank"
               rel="noopener noreferrer">
                <i class="fab fa-reddit me-2"></i> Reddit
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <button class="dropdown-item pd-copy-link"
                    data-url="@fullUrl">
                <i class="fas fa-link me-2"></i> Copy Link
            </button>
        </li>
    </ul>
</div>